<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>cliente-add-edit</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding.top>
  <ion-item>
    <ion-label position="staket">nombre</ion-label>
    <ion-input type="text" placeholder="nombre"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="staket">emailS</ion-label>
    <ion-input type="email" placeholder="email"></ion-input>
  </ion-item>

<ion-input type="tel" placeholder="telefono"></ion-input>
<ion-input type="number" placeholder="ingreso"></ion-input>
<ion-input type="text" placeholder="prosedencia"></ion-input>
<ion-button shape="rount" color="primary" exapand="black" padding>
  confirmar
</ion-button>
</ion-content>S
