<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Registro de clientes</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding-top>
  <ion-item>
    <ion-label position="floating">
      Nombre
    </ion-label>
    <ion-input type="text" placeholder="Nombre"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Email
    </ion-label>
    <ion-input type="email" placeholder="Email"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">
      Teléfono
    </ion-label>
    <ion-input type="tel" placeholder="Telefono"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">
      Ingreso
    </ion-label>
    <ion-input type="number" placeholder="Ingreso" text-right></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">
      Nacimiento
    </ion-label>
    <ion-input type="text" placeholder="Nacimiento"></ion-input>
  </ion-item>
  <ion-button shape="round" color="primary" expand="block" padding type="submit">
    Confirmar
  </ion-button>
</ion-content>